/* reset styles */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

html, body {
    height: 100%;
    background-color: #333;
}

:root {
    --cor0: #20d7d6;
    --cor1: #3f949c;
    --cor2: #767374;
    --cor3: #9e978d;
    --cor4: #2e3132;
    --fonte-padrao: 'Inter', sans-serif;
}

/* header styles */
.cabecalho {
    color: #fff; /* cor do texto */
    padding: 20px; /* espaço interno */
    display: flex; /* usar flexbox */
    justify-content: space-between; /* alinhar itens */
}

/* Estilos para o logotipo */
.logo {
    color: #fff; /* cor do texto */
    text-decoration: none; /* remover sublinhado */
    border: 2px solid var(--cor0); /* adicionar borda */
    padding: 5px 10px; /* espaço interno */
    border-radius: 5px; /* borda arredondada */
    margin-left: 40px;
}

/* Estilos para o menu */
.menu {
    list-style-type: none; /* remover marcadores de lista */
    display: flex; /* usar flexbox */
    align-items: center; /* centralizar itens verticalmente */
}

.cabecalho .menu li {
    margin-left: 20px;
    margin-right: 40px; 
    font-size: 27px;/* espaço entre os itens */
}

.cabecalho .menu li a:hover {
    color: var(--cor0); /* muda a cor do texto ao passar o mouse */
}

.cabecalho .menu li a {
    color: #fff; /* cor do texto */
    text-decoration: none; /* remover sublinhado */
}

.menu {
    list-style-type: none;
  }
  
  .menu li {
    display: inline-block;
    margin-left: 20px;
  }
  
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
  }


  .perfil {
    display: flex;
    justify-content: space-between;
    color: white; /* Adicionado para garantir que o texto seja branco */
  }
  
  .imagem-texto {
    display: flex;
    align-items: center; /* Adicionado para centralizar verticalmente */
  }
  
  .imagem-texto img {
    margin-right: 20px;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin-left: 70px;
  }
  
  .texto {
    display: flex;
    flex-direction: column;
  }
  
  .localizacao-email {
    margin-bottom: 10px; /* Adicionado espaçamento entre localização/e-mail e redes sociais */
  }
  
  .redes-sociais {
    display: flex;
    margin-top: 10px; /* Espaçamento entre os ícones das redes sociais */
  }
  
  .redes-sociais i {
    font-size: 24px; /* Ajuste do tamanho dos ícones das redes sociais */
    margin-right: 10px; /* Espaçamento entre os ícones das redes sociais */
  }
  
  .numero-redes {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Espaçamento entre o número de redes e o strong "Localização" */
    font-size: 24px; /* Ajuste do tamanho do número de redes */
    position: relative; /* Adicionado para posicionar o ícone de forma relativa */
  }
  
  .numero-redes i {
    font-size: 18px; /* Ajuste do tamanho do ícone para 18px */
    margin-right: 10px; /* Espaçamento entre os ícones das redes sociais */
    left: 60px;}
  
.conteudo h2{
    margin-top: 30px;
    margin-left: 70px;
}
.conteudo hr{
    margin-left: 70px;
    color: var(--cor0);

}



.repositorios h2{
    margin-top: 30px;
    margin-left: 70px;
    color: white;
}

.repositorios hr{
    margin-left: 70px;
    color: var(--cor0);
    margin-right: 70px;
}

.icones {
    display: flex;
    align-items: center; /* Isso centralizará os elementos verticalmente */
  }
  
  

.cardss{
    margin-left: 70px;
    margin-right: 70px;
}




















  /* Estilos para telas menores */
@media screen and (max-width: 768px) {
    .cabecalho {
        flex-direction: column; /* empilhar os elementos em coluna */
        align-items: center; /* centralizar itens horizontalmente */
    }

    .cabecalho .menu {
        margin-top: 20px; /* espaço entre o logotipo e o menu */
    }

    .cabecalho .menu li {
        margin: 10px 0; /* espaço entre os itens do menu */
        font-size: 18px; /* reduzir o tamanho da fonte */
    }
}